{
  "installed": {
    "client_id": "91465444860-d87pmnc792slspdbv8jjgg412d9jdcpu.apps.googleusercontent.com",
    "client_secret": "VUL_HIER_JE_CLIENT_SECRET_IN",
    "redirect_uris": ["http://localhost"],
    "auth_uri": "https://accounts.google.com/o/oauth2/auth",
    "token_uri": "https://oauth2.googleapis.com/token"
  }
}
